.clear{
    font-family: ;
    font-size:100%;
    color:black;
    background-color:white;
    opacity: inherit;
    
}
h3{
    font-family:Arial,Verdana,sans-serif;
    font-size:200%;
    color:rgb(0,0,255);
    background-color: gainsboro;
    font-style:italic;
    opacity: 1;
    text-transform: uppercase;
}

.textdecoration1{
    text-decoration: underline;
}
.textdecoration2{
    text-decoration: overline;
}
.textdecoration3{
    text-decoration: line-through;
}

.texttransformup{
    text-transform: uppercase;
}
.texttransformlow{
    text-transform:lowercase;
}
.texttransformcap{
    text-transform: capitalize;
}
.letterspacing{
    letter-spacing: 0.2em;
}
.wordspacing{
    word-spacing: 1em;
}



